In [1]:
import pandas as pd

NameError: name '__file__' is not defined

In [2]:
df = pd.DataFrame([[1,2],[3,4]])

In [3]:
df

   0  1
0  1  2
1  3  4